<header>
    <h1>About Us</h1>
</header>

<section class="about">
    <h2>Our Mission</h2>
    <p>At [Your Company Name], our mission is to [insert your mission statement here]. We are committed to providing exceptional [products/services] that [describe the impact or value your products/services provide].</p>
</section>

<section class="team">
    <h2>Meet Our Team</h2>
    <div class="team-member">
        
        <h3>Ahmed Helal Shokry </h3>
        <p>Full Stack</p>
        <p>Ahmed leads our team with over 4 month of experience in the industry. Her vision and leadership drive our company's success.</p>
    </div>
   
</section>

<section class="history">
    <h2>Our History</h2>
    <p>Founded in [Year], [Your Company Name] has grown from a small startup to a leading player in [your industry]. Our journey has been marked by [key milestones or achievements].</p>
</section>
