<body>
    <header>
        <h1>Contact Us</h1>
        <p>If you have any questions, feel free to reach out to us using the information below.</p>
    </header>

    <section class="contact-info">
        <h2>Our Contact Information</h2>
        <ul>
            <li><strong>Phone:</strong> 01126576302</li>
            <li><strong>FaceBook:</strong> <a href="https://www.facebook.com/" target="_blank"> Abo Helal FaceBook</a></li>
            <li><strong>FaceBook:</strong> <a href=" hlala6462@gmail.com" target="_blank"> Abo Helal Mail</a></li>
            <li><strong>Address:</strong> Assiut, City/Assiut, Country/EG</li>
        </ul>
    </section>

    <section class="office-hours">
        <h2>Office Hours</h2>
        <p>Monday to Friday: 9 AM - 6 PM</p>
        <p>Saturday: 10 AM - 4 PM</p>
        <p>Sunday: Closed</p>
    </section>

    
</body>
